<div class='container-fluid box-shadow'>
    <div class='col-lg-offset-12'>
      <ngb-carousel>
        <ng-template ngbSlide>
          <img src="../assets/images/thumbs1.jpg" alt="Random first slide">
            <div class="carousel-caption">
              <h3>Guitar Akustik...</h3>
              <p>Ini Gambar Gitar Akustik Pertama...</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="../assets/images/thumbs2.jpg" alt="Random second slide">
            <div class="carousel-caption">
              <h3>Guitar Listrik...</h3>
              <p>Ini Gambar Gitar Listrik Pertama...</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="../assets/images/thumbs4.jpg" alt="Random third slide">
            <div class="carousel-caption">
              <h3>Guitar Akustik... (lagi)</h3>
              <p>Ini Gambar Gitar Akustik Kedua...</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
          <img src="../assets/images/thumbs3.jpg" alt="Random fourth slide">
            <div class="carousel-caption">
              <h3>Guitar Listrik... (lagi)</h3>
              <p>Ini Gambar Gitar Listrik Kedua...</p>
            </div>
        </ng-template>
      </ngb-carousel>
    </div>
</div>